<h1>Listing neighborhoods</h1>

<table>
  <thead>
    <tr>
      <th>Regionname</th>
      <th>City</th>
      <th>State</th>
      <th>Metro</th>
      <th>Countyname</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Avgrentprice</th>
      <th>ViolentCrimePer10kCapita</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @neighborhoods.each do |neighborhood| %>
      <tr>
        <td><%= neighborhood.RegionName %></td>
        <td><%= neighborhood.City %></td>
        <td><%= neighborhood.State %></td>
        <td><%= neighborhood.Metro %></td>
        <td><%= neighborhood.CountyName %></td>
        <td><%= neighborhood.Latitude %></td>
        <td><%= neighborhood.Longitude %></td>
        <td><%= neighborhood.AvgRentPrice %></td>
        <td><%= neighborhood.ViolentCrimePer10kCapita %></td>        
        <td><%= link_to 'Show', neighborhood %></td>
        <td><%= link_to 'Edit', edit_neighborhood_path(neighborhood) %></td>
        <td><%= link_to 'Destroy', neighborhood, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Neighborhood', new_neighborhood_path %>








